{% extends "auctions/layout.html" %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-4">Active Listings</h2>

    {% for listing in active_listings %}
        <div class="border rounded p-4 mb-4 bg-light">
            <a href="{% url 'listing_detail' listing.id %}">
                <div class="item d-flex align-items-center">
                    <div class="item__img mr-4 border">
                        {% if listing.image %}
                            <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="img-fluid rounded">
                        {% else %}
                            <p class="text-center">No Image Available</p>
                        {% endif %}
                    </div>
                    <div class="item__specs">
                        <h4>{{ listing.title }}</h4>
                        <p>{{ listing.description }}</p>
                        <p><strong>Current Bid:</strong> ${{ listing.current_bid_amount }}</p>
                        <p><strong>Author:</strong> {{ listing.author.username }}</p>
                        <p><strong>Created at:</strong> {{ listing.created_at }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
